.read_table {
  border: 2px solid #444444;
  margin-top: 30px;
  width: 800px;
  height: 450px;
}

.read_title {
  height: 45px;
  font-size: 23.5px;
  text-align: center;
  background-color: #3c3c3c;
  color: white;
  width: 1000px;
  vertical-align: middle;
}

.read_id {
  text-align: center;
  background-color: #eeeeee;
  width: 30px;
  height: 33px;
  vertical-align: middle;
}

.read_id2 {
  background-color: white;
  width: 60px;
  height: 33px;
  padding-left: 10px;
  vertical-align: middle;
}

.read_hit {
  background-color: #eeeeee;
  width: 30px;
  text-align: center;
  height: 33px;
  vertical-align: middle;
}

.read_hit2 {
  background-color: white;
  width: 60px;
  height: 33px;
  padding-left: 10px;
  vertical-align: middle;
}

.read_content {
  padding: 20px;
  border-top: 1px solid #444444;
  height: 250px;
  text-align: left;
}

.read_btn {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

.read_comment_input {
  width: 700px;
  height: 500px;
  text-align: center;
  margin: auto;
}

.read_text3 {
  font-weight: bold;
  float: left;
  margin-left: 20px;
}

.read_com_id {
  width: 100px;
}

.read_comment {
  width: 500px;
}
