body {
  text-align: center;
}

header {
  font-size: 45px;
  border-bottom: 2px solid black;
  margin: 0px;
}

header h1{
  margin: 30px;
}

.form_login{
  width: 30%;
  border : 2px solid rgb(85, 85, 173);
  padding : 100px;
  margin: 15px;
  display:inline-block;
}
